.header {
    background-color: white;
    position:relative;
    display: flex;
    top: 0;
    height: 60px;
    box-shadow: 2px 2px 2px  rgba(100, 100,100, 0.6);
    padding: 3rem;
    background-color: white;
    justify-content:space-between;
}
.logo {
    flex-grow: 0;
    flex-basis: 250px;
    position:relative;

}



@media screen and (max-width: 500px) {
.header{
    justify-content: space-between;

}
    
}



