.header {
    position:relative;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    height: 60px;
    background-color: red;
    box-shadow: 2px 2px 2px 1px rgba(7, 0, 110, 0.677);
}
img {
    margin-top: 0%;
    height: 60px;
}

button {
    margin-top: 0%;
    height: 60px;
    border-radius: 0.25rem;
    cursor: pointer;
    font-family: 'Helvetica';
    margin-right: 1rem;
    
}

li{
    list-style:none
}

ul{
    display: flex;
}

nav{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
}