.containerAll{
    display: flex;
   
}
.menu{
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.novisible {
    margin-top: 10%;
    position: relative;
    display: flex;
    justify-content: flex-end;

 }  
 .burger{
    opacity: 0;
    display:none;
}



@media screen and (max-width: 500px) {
    .burger{
        opacity: 1;
        display:flex;
        flex-direction: row-reverse;
        background-color: Black;
    }
    .containerAll{
        display:flex;
        flex-direction: column;
    }
    .menu{
        visibility: visible;
        /*opacity: 0;
        visibility: hidden;*/
        position: relative;
        justify-content: flex-start;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding:2rem;
        box-shadow: 0 0 0 100vmax(0, 0, 0, 0.5);
    }
    .novisible {
       /* visibility: visible;*/
        opacity: 0;
        visibility: hidden;
        position: fixed;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding:2rem;
        box-shadow: 0 0 0 100vmax(0, 0, 0, 0.5);
      
    } 

    
    
}